<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>
</head>
<h1>글 작성 페이지 입니다</h1>
<body>
    <form action="/create" method="post">
        <div>
            <input type="text" id="title" name="title">
        </div>
        <div>
            <input type="text" id="content" name="content">
        </div>
        <div>
            <button type="submit">작성완료</button>
            <a href="index.html">
                <button>홈 으로</button>
            </a>
        </div>
    </form>
</body>
</html>